<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Issues mh223vk</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Real-Time GitHub Issues</h1>

<div id="main">
{{{body}}}
</div>

<script src='/socket.io/socket.io.js'></script>
<script src="/js/clientIndex.js"></script>
</body>
</html>